body {
  background: linear-gradient(180deg, #1c0138 0%, #2c0055 100%);
  height: 100vh;
  overflow: hidden;
}
.container,
.button,
.sun,
.button span {
  position: absolute;
}
.container {
  margin: 200px auto;
  top: 0;
  left: 0;
  right:311px;
  bottom: 0;
  width: 200px;
  height: 200px;
}
.container a:hover .sun {
  bottom: 176px;
  transition: all 1s ease ease-in-out;
  box-shadow: 0 0 10px #ffdc2a;
}
.container a:hover .button {
  box-shadow: 0 0 36px #c80de0;
  transition: all 1s ease-in-out;
}
.container .sun {
  width: 64px;
  height: 64px;
  left: 70px;
  bottom: 136px;
  background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
  box-shadow: 0 0 36px #ffdc2a;
  z-index: 2;
  border-radius: 65px;
  transition: all 1s ease-in-out;
}
.container .button {
  width: 200px;
  height: 65px;
  background: #2c0055;
  box-shadow: 0 0 16px #c80de0;
  z-index: 3;
  transition: all 1s ease-in-out;
}
.container .button span {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 35px;
  left: 65px;
  line-height: 70px;
  margin: 0 auto;
  transition: all 1s ease-in-out;
  color: #ffdc2a;
}

.container1,
.button1,
.moon,
.button1 span {
  position: absolute;
}
.container1 {
  margin: 200px auto;
  top: 0;
  left: 510px;
  right: auto;
  bottom: 0;
  width: 200px;
  height: 200px;
}
.container1 a:hover .moon {
  bottom: 173px;
  transition: all 1s ease ease-in-out;
  box-shadow: 0 0 10px #ffffff;
}
.container1 a:hover .button1 {
  box-shadow: 0 0 36px #f6f6f6;
  transition: all 1s ease-in-out;
}
.container1 .moon {
  width: 64px;
  height: 64px;
  left: 60px;
  bottom: 135px;
  background: linear-gradient(180deg, #7e7474 0%, #ffffff 41.54%);
  box-shadow: 0 0 36px #ffffff;
  z-index: 2;
  border-radius: 65px;
  transition: all 1s ease-in-out;
}
.container1 .button1 {
  width: 200px;
  height: 65px;
  background: #2c0055;
  box-shadow: 0 0 16px #c80de0;
  z-index: 3;
  transition: all 1s ease-in-out;
}
.container1 .button1 span {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 35px;
  left: 65px;
  line-height: 70px;
  margin: 0 auto;
  transition: all 1s ease-in-out;
  color: #ffdc2a;
}
.glowing{
  position:relative ;
  min-width:750px;
  height:750px;
  /* margin: -150px; */
  transform-origin:right;
  animation:colorChange 5s linear infinite  ;
}
.glowing:nth-child(even){
  transform-origin:left;
}
@keyframes colorChange{
  0%{
      filter:hue-rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      filter:hue-rotate(360deg);
      transform: rotate(360deg);
  }
}
.glowing span{
  position:absolute  ;
  top:calc(80px * var(--i));
  left:calc(80px * var(--i));
  bottom:calc(80px * var(--i));
  right:calc(80px * var(--i));
}
.glowing span:before{
  content: '';
  position:absolute ;
  top:50%;
  left:-8px;
  width:15px;
  height:15px;
  background:#f00;
  border-radius:50%;
  
}
.glowing span:nth-child(3n + 1):before{
  background:rgba(134,255,0,1);
  box-shadow:0 0 20px rgba(134,255,0,1),
             0 0 40px rgba(134,255,0,1),
             0 0 60px rgba(134,255,0,1),
             0 0 80px rgba(134,255,0,1),
             0 0 0 8px rgba(134,255,0, .1);
}
.glowing span:nth-child(3n + 2):before{
  background:rgba(255,214,0,1);
  box-shadow:0 0 20px rgba(255,214,0,1),
             0 0 40px rgba(255,214,0,1),
             0 0 60px rgba(255,214,0,1),
             0 0 80px rgba(255,214,0,1),
             0 0 0 8px rgba(255,214,0, .1);
}
.glowing span:nth-child(3n + 3):before{
  background:rgba(0,226,255,1);
  box-shadow:0 0 20px rgba(0,226,255,1),
             0 0 40px rgba(0,226,255,1),
             0 0 60px rgba(0,226,255,1),
             0 0 80px rgba(0,226,255,1),
             0 0 0 8px rgba(0,226,255, .1);
}
.glowing span:nth-child(3n + 1){
  animation:animate 10s alternate infinite ;
}
.glowing span:nth-child(3n + 2){
  animation:animate-reverse 3s alternate infinite ;
}
.glowing span:nth-child(3n + 3){
  animation:animate 8s alternate infinite ;
}
@keyframes animate{
  0%{
      transform:rotate(0deg);
  }
  100%{
      transform:rotate(360deg);
  }
}
@keyframes animate-reverse{
  0%{
      transform: rotate(360deg);
  }
  100%{
      transform: rotate(0deg);
  }
}
